In [35]:

import seaborn as sns 
import numpy as np 
import pandas as pd 
import warnings

warnings.filterwarnings("ignore")

titanic_data = sns.load_dataset("titanic")
titanic_data.describe()

#find the columnns with missing values

titanic_data.isnull().sum()

# we need to work on age , deck and embark town since these have nan values 

titanic_data['age'].fillna(titanic_data['age'].median(),inplace=True)


#titanic_data['deck'].info()

#titanic_data['age'].describe()
#titanic_data['age'].info()

#
titanic_data = titanic_data.drop(columns=['deck'])

print(titanic_data.isnull().sum())






#

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64

In [36]:
#now only left are embark town and embarked 

common_emabarktown = titanic_data['embark_town'].mode()[0] 
common_emabarked = titanic_data['embarked'].mode()[0]

titanic_data['embark_town'].fillna(common_emabarktown,inplace=True)
titanic_data['embarked'].fillna(common_emabarked,inplace=True)

# now all of the nan values have been dealt with.

# Outlier Detection and Handling

In [37]:
#finding outliers in age and fare 

import numpy as np

age_mean = np.mean(titanic_data['age'])

age_std  = np.std(titanic_data['age'])


fare_mean  = np.mean(titanic_data['fare'])

fare_std = np.std(titanic_data['fare'])

zscore_age  = (titanic_data['age']- age_mean )/ age_std
zscore_fare = (titanic_data['fare'] - fare_mean)  / fare_std

outliers_age = titanic_data['age'][np.abs(zscore_age) > 3]
outliers_fare = titanic_data['fare'][np.abs(zscore_fare) > 3]

print(outliers_age, outliers_fare)

96     71.0
116    70.5
493    71.0
630    80.0
672    70.0
745    70.0
851    74.0
Name: age, dtype: float64 27     263.0000
88     263.0000
118    247.5208
258    512.3292
299    247.5208
311    262.3750
341    263.0000
377    211.5000
380    227.5250
438    263.0000
527    221.7792
557    227.5250
679    512.3292
689    211.3375
700    227.5250
716    227.5250
730    211.3375
737    512.3292
742    262.3750
779    211.3375
Name: fare, dtype: float64

# Data Transformation i.e. Data Normalization.

In [38]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd 

titanic_data[['age', 'fare']] = MinMaxScaler().fit_transform(titanic_data[['age', 'fare']])

titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  891 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB

## Feature Engineering

In [39]:
# one hot encoding for sex and fare and other categorical datas

import pandas as pd 

sex_encoding = pd.get_dummies(titanic_data['sex'] ,prefix = 'sex',dtype = int)
embarked_encoding = pd.get_dummies(titanic_data['embarked'] ,prefix='embarked' , dtype = int)
who_encoding = pd.get_dummies(titanic_data['who'] , dtype = int)
alive_encoding = pd.get_dummies(titanic_data['alive'] ,prefix = 'alive' ,dtype = int)
class_encoding = pd.get_dummies(titanic_data['class'], prefix = 'class', dtype = int)

titanic_data = pd.concat([titanic_data, sex_encoding, embarked_encoding, who_encoding, alive_encoding, class_encoding], axis = 1)

titanic_data['family_size'] = titanic_data['sibsp'] + titanic_data['parch'] 

titanic_data.drop(columns = ['sibsp','parch', 'sex', 'embarked', 'embark_town', 'who', 'alive', 'class'],inplace = True)

titanic_data.columns

Index(['survived', 'pclass', 'age', 'fare', 'adult_male', 'alone',
       'sex_female', 'sex_male', 'embarked_C', 'embarked_Q', 'embarked_S',
       'child', 'man', 'woman', 'alive_no', 'alive_yes', 'class_First',
       'class_Second', 'class_Third', 'family_size'],
      dtype='object')

# Train Test Split

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix , accuracy_score , mean_absolute_error , mean_squared_error , precision_score , recall_score
from math import sqrt 


#random_state ensures that the data is split in the same way , the next way the code is run, good for comparisons. 
train_data , test_data = train_test_split(titanic_data, test_size= 0.2 , random_state=42)

logreg = LogisticRegression()

x_train = train_data.drop("survived", axis = 1)
y_train = train_data['survived']

logreg.fit(x_train, y_train)

x_test = test_data.drop("survived", axis = 1)
y_test = test_data['survived']

predictions  = logreg.predict(x_test)

print(classification_report(y_test, predictions))
print(accuracy_score(y_test, predictions))
print(confusion_matrix(y_test, predictions))

NameError: name 'titanic_data' is not defined

In [20]:
titanic_data.columns

Index(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare', 'class', 'who',
       'adult_male', 'embark_town', 'alive', 'alone', 'age'],
      dtype='object')